
# PlanAhead Generated physical constraints 

NET "PIN[7]" LOC = R13;
NET "PIN[6]" LOC = U18;
NET "PIN[5]" LOC = T18;
NET "PIN[4]" LOC = R17;
NET "PIN[3]" LOC = R15;
NET "PIN[2]" LOC = M13;
NET "PIN[1]" LOC = L16;
NET "PIN[0]" LOC = J15;

# PlanAhead Generated IO constraints 

NET "PIN[7]" IOSTANDARD = LVCMOS18;
NET "PIN[6]" IOSTANDARD = LVCMOS18;
NET "PIN[5]" IOSTANDARD = LVCMOS18;
NET "PIN[4]" IOSTANDARD = LVCMOS18;
NET "PIN[3]" IOSTANDARD = LVCMOS18;
NET "PIN[2]" IOSTANDARD = LVCMOS18;
NET "PIN[1]" IOSTANDARD = LVCMOS18;
NET "PIN[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "POUT[7]" LOC = U16;
NET "POUT[6]" LOC = U17;
NET "POUT[5]" LOC = V17;
NET "POUT[4]" LOC = R18;
NET "POUT[3]" LOC = N14;
NET "POUT[2]" LOC = J13;
NET "POUT[1]" LOC = K15;
NET "POUT[0]" LOC = H17;

# PlanAhead Generated IO constraints 

NET "POUT[7]" IOSTANDARD = LVCMOS18;
NET "POUT[6]" IOSTANDARD = LVCMOS18;
NET "POUT[5]" IOSTANDARD = LVCMOS18;
NET "POUT[4]" IOSTANDARD = LVCMOS18;
NET "POUT[3]" IOSTANDARD = LVCMOS18;
NET "POUT[2]" IOSTANDARD = LVCMOS18;
NET "POUT[1]" IOSTANDARD = LVCMOS18;
NET "POUT[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "clock" LOC = E3;
NET "Reset" LOC = N17;

# PlanAhead Generated IO constraints 

NET "clock" IOSTANDARD = LVCMOS18;
NET "Reset" IOSTANDARD = LVCMOS18;
