//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 14 16:34:50 2023
//! **************************************************************************

SCHEMATIC START;
COMP "PIN<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "PIN<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "PIN<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "PIN<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "PIN<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "PIN<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "PIN<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "PIN<7>" LOCATE = SITE "R13" LEVEL 1;
COMP "clock" LOCATE = SITE "E3" LEVEL 1;
COMP "Reset" LOCATE = SITE "N17" LEVEL 1;
COMP "POUT<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "POUT<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "POUT<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "POUT<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "POUT<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "POUT<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "POUT<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "POUT<7>" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

